@page "/order/details/{Id:int}"
@using System.Globalization
@inject IJSRuntime _JS
@inject AuthenticationStateProvider _authenticationStateProvider
@inject IOrderRepository _orderRepository

@if (IsProcessing)
{
    <div class="position-absolute w-100 vh-100 d-flex flex-column align-items-center bg-white justify-content-center">
        <img src="/images/loading.gif" alt="loading" />

    </div>
}
else
{
    <div class="container my-5 mx-auto p-5 w-100" style="max-width: 950px;">
        <div class="card" style="max-width: 750px;">
            <div class="pt-3 text-success text-center">
                <span class="h4"> ORDER DETAILS</span>
            </div>

            <hr />
            <div class="px-3">
                <p>Order Id: @order.Id</p>
                <p>Name: @order.Name</p>
                <p>Email: @order.Email</p>
                <p>Phone: @order.PhoneNumber</p>
                <p>Order Status: @order.Status </p>
            </div>
            <hr />
            <div class="card-body">
                <h4 class="text-success">Menu Items</h4>

                @foreach (var item in order.OrderDetails)
                {
                    <div class="d-flex">
                    
                            <div class="d-flex w-100 justify-content-between">
                                <p>
                                    &nbsp;-- @item.ProductName
                                </p>
                                <p>
                                    @item.Price.ToString("C",CultureInfo.GetCultureInfo("en-us")) x @item.Count =
                                </p>
                             </div>
                            <div class="ps-4">
                                @((item.Price * item.Count).ToString("C", CultureInfo.GetCultureInfo("en-us")))
                                   
                            </div>

                            
                    
                    </div>
                }

                <hr />
                <h4 class="text-success text-end">
                    Order Total @order.OrderTotal.ToString("C", CultureInfo.GetCultureInfo("en-us"))
                </h4>
                <hr />

                <div class="row">
                    <div class="col-5">
                        <a href="order/list" class="btn btn-secondary  m-2 p-2" style="width:150px;">Back to Orders</a>
                    </div>
                    <div class="col-7 text-end">
   
                        @if (order.Status != SD.StatusCancelled && order.Status != SD.StatusCompleted &&
                        _authenticationStateProvider.GetAuthenticationStateAsync().GetAwaiter().GetResult().User?.IsInRole(SD.Role_Admin)==true)
                        {
                            <button @onclick="()=>UpdateStatus(SD.StatusCancelled)" class=" btn btn-danger m-2 p-2" style="width:150px;">Cancel Order</button>

                            @if (order.Status == SD.StatusApproved)
                            {
                                <button @onclick="()=>UpdateStatus(SD.StatusReadyForPickUp)" class=" btn btn-primary m-2 p-2" style="width:150px;">Ready for Pickup</button>
                            }
                            @if (order.Status == SD.StatusReadyForPickUp)
                            {
                                <button @onclick="()=>UpdateStatus(SD.StatusCompleted)" class=" btn btn-success m-2 p-2" style="width:150px;">Completed</button>
                            }

                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

}
@code {
    private bool IsProcessing = true;
    private OrderHeader order = null;
    [Parameter]
    public int Id { get; set; }
    


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            await LoadOrder();
            IsProcessing = false;
            StateHasChanged();
        }
    }
    private async Task LoadOrder()
    {
        order = await _orderRepository.GetAsync(Id);
    }

    private async Task UpdateStatus(string newStatus)
    {
        await _orderRepository.UpdateStatusAsync(Id, newStatus,"");
        _JS?.ToastrSuccess("Status changed successfully to "+newStatus);
    }
    
    
}
